.chat-content
  .chat-content__grouptitle
    .title= "sampleグループ"
    .nickname= "ryosukemaehira"
  .chat-content__nickname
    .nickname
      ryosukemaehira
      %span{class: "date"}
        2016/10/2 06:27:30
    .chat-text= "なるほど"
  .chat-content__nickname
    .nickname
      ryosukemaehira
      %span{class: "date"}
        2016/10/2 06:27:31
    .chat-text= "水色きれい"
  .chat-content__nickname
    .nickname
      ryosukemaehira
      %span{class: "date"}
        2016/10/2 06:27:32
    .chat-text= "command Enterで送信したい感ある"
  .chat-content__nickname
    .nickname
      ryosukemaehira
      %span{class: "date"}
        2016/10/2 06:27:33
    .chat-text= "お腹すいた"
