.content__left
  .content__left--user
    %p= "ryosukemaehira"
    %a{href: "#", class: "fa fa-edit icon"}
    %a{href: "#", class: "fa fa-cog icon"}
  .content__left--group
    .group_name= "神"
    %p= "sdlkfjsdlf"
  .content__left--group
    .group_name= "aeaaaaaaa"
    %p= "まだメッセージはありません。"
  .content__left--group
    .group_name= "sampleグループ"
    %p= "まだメッセージはありません。"
