.sidebar
  .sidebar__main
    %p= "ryosukemaehira"
    %a{href: "#", class: "fa fa-edit icon"}
    %a{href: "#", class: "fa fa-cog icon"}
  .sidebar__group
    .group_name= "神"
    %p= "sdlkfjsdlf"
  .sidebar__group
    .group_name= "aeaaaaaaa"
    %p= "まだメッセージはありません。"
  .sidebar__group
    .group_name= "sampleグループ"
    %p= "まだメッセージはありません。"
