.sidebar
  .sidebar__main
    %p= "ryosukemaehira"
    %ul.header__lists
      %li.list
        = link_to do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.list
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
  .sidebar__group
    .group_name= "神"
    %p= "sdlkfjsdlf"
  .sidebar__group
    .group_name= "aeaaaaaaa"
    %p= "まだメッセージはありません。"
  .sidebar__group
    .group_name= "sampleグループ"
    %p= "まだメッセージはありません。"
