.contents
  .content__left
    .content__left--user
      %p= "ryosukemaehira"
    .content__left--group
      .group_name= "神"
      %p= "sdlkfjsdlf"
    .content__left--group
      .group_name= "aeaaaaaaa"
      %p= "まだメッセージはありません。"
    .content__left--group
      .group_name= "sampleグループ"
      %p= "まだメッセージはありません。"
  .content__right
    .content__right--grouptitle
      .group_title= "sampleグループ"
      %p= "ryosukemaehira"
    .content__right--nickname
      .chat_text= "ryosukemaehira"
      %p= "なるほど"
    .content__right--nickname
      .chat_text= "ryosukemaehira"
      %p= "水色きれい"
    .content__right--nickname
      .chat_text= "ryosukemaehira"
      %p= "command Enterで送信したい感ある"
    .content__right--nickname
      .chat_text= "ryosukemaehira 2018/..."
      %p= "お腹すいた"
    %footer
      %input{name: "message_input", type: "text", class: "input_text", placeholder: "チャット入力"}
      %a{href: "#", class: "fa fa-camera-retro"}
      %input{name: "send_button", type: "submit", value: "send", class: "send"}



